@import './import/variables';
@import './import/common';

$archive-list-margin: 1.5rem;
.archive-list {
	display: flex;
	flex-wrap: wrap;
	@include flexLayout( $archive-list-margin );
}
.listed-archive {
	width: 50%;
	position: relative;
}

/*   Pagination   */
.pagination {
	font-size: 1.8rem;
	margin-top: 1.5rem;
}
.nav-links {
	width: 100%;
	display: flex;
	justify-content: center;
	> * {
		margin-left: .5em;
		margin-right: .5em;
	}
	> :first-child {
		margin-right: auto;
		margin-left: 0;
	}
	> :last-child {
		margin-left: auto;
		margin-right: 0;
	}
}
/*   /Pagination   */