// @import './import/icomoon-fonts.scss';
// @import './import/old-styles.scss';
@import './import/accessibility.scss';
// color-palette.scss contains bootstrap them-color overrides.
@import './import/color-palette.scss';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import './import/common.scss';
@import './import/footer.scss';
@import './import/btn-cta.scss';
@import './import/header.scss';
@import './import/theme-header.scss';
@import './import/theme-content.scss';

html {
	font-size: 8px;
	@media (min-width: 576px) {
		font-size: 10px;
	}
}
body {
	font-size: 100%;
	color: $dark;
	max-width: 100%;
	overflow-x: hidden;
}
body,
.font-fam-primary,
h2,
.bolt-on-h2 {
	font-family: $font-fam-primary;
}
h1,
.bolt-on-h1,
h2,
.bolt-on-h2,
h3,
.bolt-on-h3,
h4,
.bolt-on-h4,
h5,
.bolt-on-h5,
h6,
.bolt-on-h6 {
	margin-bottom: 0.5em;
}
h1,
.bolt-on-h1,
h3,
.bolt-on-h3,
h4,
.bolt-on-h4,
h5,
.bolt-on-h5,
h6,
.bolt-on-h6 {
	font-weight: 500;
}
h1,
.bolt-on-h1,
h2,
.bolt-on-h2,
h3,
.bolt-on-h3,
h4,
.bolt-on-h4,
h5,
.bolt-on-h5,
h6,
.bolt-on-h6,
.font-fam-secondary {
	font-family: $font-fam-secondary;
}
h1,
.bolt-on-h1 {
	font-size: 4.5rem;
	color: $secondary;
	+ h2,
	+ .bolt-on-h2 {
		font-size: 2.2rem;
		color: $primary-dark;
		font-family: $font-fam-primary;
	}
}
h2,
.bolt-on-h2 {
	font-size: 4rem;
}
h3,
.bolt-on-h3 {
	font-size: 3.5rem;
}
h4,
.bolt-on-h4 {
	font-size: 3rem;
}
h5,
.bolt-on-h5 {
	font-size: 2.5rem;
}
h6,
.bolt-on-h6 {
	font-size: 2rem;
}
a {
	text-decoration: none;
	color: $primary-dark;
}
b,
strong {
	font-weight: 700;
}

.pad-top {
	padding-top: 3rem;
	@media(min-width: $vp_sm) {
		padding-top: 6rem;
	}
	@media(min-width: $vp_lg) {
		padding-top: 12rem;
	}
}
.pad-bottom {
	padding-bottom: 3rem;
	@media(min-width: $vp_sm) {
		padding-bottom: 6rem;
	}
	@media(min-width: $vp_lg) {
		padding-bottom: 12rem;
	}
}
@media (min-width: $vp_xl) {
	.container,
	.container-xxl,
	.container-xl,
	.container-lg,
	.container-md,
	.container-sm {
		&.container-ext {
			max-width: 160rem;
		}
	}
	.d-xxl-block {
		display: block !important;
	}
	.col-xxl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}
}
.pad-thirty {
	padding: 3rem;
}
.pad-sixty {
	padding: 6rem;
}
.pad-onetwenty {
	padding: 3rem;
	@media(min-width: $vp_sm) {
		padding: 6rem;
	}
	@media(min-width: $vp_lg) {
		padding: 12rem;
	}
	&.pad-onetwenty-xxl {
		@media (min-width: $vp_lg ) and (max-width: $vp_xl - 1 ) {
			padding: 6rem;
		}
	}
}
.input-field {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $dark;
	padding: 0.5em;
}
textarea {
	&.input-field {
		resize: none;
		height: 9em !important;
	}
}
.anchor-site-phone-number {
	@include smoothest-transition;
}