@import './import/variables';

.archive-list {
	align-items: stretch;
}
$archive-list-margin: 3rem;
.blog-archive-section{
	.archive-list {
		@include flexLayout( $archive-list-margin );
		justify-content: space-between;
		> * {
			max-width: 46.4rem;
			@at-root .blog-archive-section & {
				width: 33%;
			}
		}
	}
}

.listed-archive {
	.entry-title {
		font-family: $font-fam-primary;
		font-size: 2.4rem;
		font-weight: 600;
		margin-top: 0;
	}
	.featured-image {
		text-align: center;
	}
	.post-date {
		font-size: 2rem;
	}
	.entry-content{
		p,
		ul {
			line-height: 1.5;
		}
	}
	.post-body {
		flex: 1;
		padding: 1.5rem;
	}
	.entry-footer {
		margin-top: auto;
	}
	.anchor-btn-cta {
		margin-top: auto;
	}
}
.listed-archive-inner {
	height: 100%;
	border: 1px solid $primary-lighter;
	display: flex;
  flex-direction: column;
}

.anchor-archive-thumbnail {
  position: relative;
	display: block;
	overflow: hidden;
	&:before {
		content: '';
		width: 100%;
		padding-bottom: 56.25%;
		display: block;
	}
	> * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50% , 0);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
} 

.post-category {
	font-size: 1.6rem;
	flex: 1;
}

.ctnr-view-all-posts-btn {
	text-align: center;
}