@import './import/variables';

/*   Contact Section   */
.contact-section {
	background-image: url('../images/bg-w.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 0% 0%;
	position: relative;
	overflow-x: hidden;
	padding-top: 0;
	padding-bottom: 0;
	@media (min-width: $vp_lg) {
		padding-top: 0;
		padding-bottom: 0;
	}
	.ctnr-contact-form {
		@media (min-width: $vp_lg) {
			padding-left: 6rem;
			padding-right: 6rem;
		}
		min-width: 50rem;
		max-width: 100%;
	}
}

.container-contact {
	padding-left: 0;
	padding-right: 0;
	display: flex;
	flex-wrap: wrap;
	@media (min-width: $vp_lg) {
		> * {
			flex: 1 0 50%;
			max-width: 50%;
		}
	}
}
@import './import/contact-form';
.ctnr-contact-info {
	text-shadow: 0 0.05em 0.05em rgba($dark, 0.35);
	position: relative;
	@media (min-width: $vp_lg) {
		position: static;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: $stripes;
		z-index: -1;
	}
	.phone-number {
		font-size: 3.5rem;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 0.5em;
		text-shadow: 0 0.05em 0.05em rgba($dark, 0.35);
	}
}
.contact-info-inner {
	@media (min-width: $vp_lg) {
		padding-right: 0;
		padding-left: 0;
		> * {
			padding-left: 6rem;
			padding-right: 6rem;
		}
	}
}
@import './import/offices-list';
/*   /Contact Section   */