@import './import/variables';
@import './import/common';
@import './import/sidebar-menu';

.sidebar-heading {
  margin-bottom: 3rem;
  a {
    display: block;
    text-align: center;
    padding: 0.5em;
    background-color: $primary-dark;
    color: $white;
    text-transform: uppercase;
    font-size: 3.2rem;
    text-decoration: none;
    @include smoothest-transition;
    #{$active} {
      background-color: $secondary;
    }
  }
}