@import './import/variables.scss';

$bleed-unit: 15vmin;
/*   Hero Section   */
.hero-section {
	background-image: url(../images/mainstage-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	overflow: hidden;
	.ctnr-swoosh-heading {
		position: relative;
	}
	.ctnr-swoosh {
		position: relative;
		margin-bottom: -8rem;
		margin-top: 3rem;
		width: 100vw;
		&:before,
		&:after {
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			height: 100vh;
		}
		&:before {
			background-image: linear-gradient(180deg,transparent 5vh,rgb(0, 0, 0) 30vh);
			top: 0;
		}
		&:after {
			background-color: rgb(0, 0, 0);
		}
	}
	.swoosh {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 50rem;
		@media (min-height: $vp_sm) {
			max-height: 50rem;
		}
		@media (min-height: $vp_m) {
			max-height: 50rem;
		}
		position: relative;
	}
	.heading {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		> * {
			display: block;
			text-shadow: 0 .025em 0.025em rgba(0, 0, 0, 0.65);
		}
		max-width: 60rem;
		@media (min-width: $vp_lg) {
			max-width: none;
		}
	}
	&.below-section-bleeds-in {
		.bleed-target {
			padding-bottom: $bleed-unit;
		}
	}
}
.ctnr-hero {
	height: auto;
	align-items: flex-end;
	justify-content: center;
	text-align: center;
	position: relative;
}
.subtitle {
	font-size: 2.6rem;
	font-weight: 700;
	color: $white;
	text-transform: uppercase;
}
.main-title {
	font-size: 6.6rem;
	@media (min-width: $vp_sm) {
		font-size: 7.7rem;
	}
	font-weight: 700;
	color: $primary;
	line-height: 1;
}
/*   /Hero Section   */

/*   About Section   */
.about-section-cta-btns {
	justify-content: space-between;
}
.about-section {
	&.bleeds-into-above-section {
		.bleed-target {
			margin-top: -$bleed-unit;
		}
	}
	.container-about-section {
		background-color: $white;
	}
}
.about-section-cta-btns {
	margin-bottom: 3rem;
	flex-direction: column;
	@media (min-width: 530px) {
		flex-direction: row;
	}
	> * {
		@media (min-width: 530px) {
			// width: 33%;
		}
		display: flex;
    align-items: center;
		flex: 0 1 auto;
	}
	> :not(:first-child) {
		margin-top: .5em;
		@media (min-width: 530px) {
			margin-top: 0;
			margin-left: .5em;
		}
	}
	.btn-cta-inner {
		display: flex;
		height: 100%;
		align-items: center;
	}
}

.about-section-main {
	.theme-content {
		ul {
			li {
				font-size: 1.8rem;
			}
		}
	}
}
/*   /About Section   */
/*   Media Recognition Section   */
.wp-video {
	margin-left: auto;
	margin-right: auto;
}
.half-bg-section {
	&,
	> * {
		position: relative;
	}
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(
			to bottom,
			$secondary-light 50%,
			$white 50%
		);
		@media (min-width: $vp_lg) {
			background-image: linear-gradient(
				to right,
				$secondary-light 50%,
				$white 50%
			);
		}
	}
}

.tri-content-section {
	> .display-flex {
		> * {
			width: 100%;
			margin-bottom: 6rem;
			@media (min-width: $vp_lg) {
				width: 33.33%;
				padding: 1.5rem;
				margin-bottom: 0;
			}
		}
	}
	.second-content {
		text-align: center;
	}
}


.container-media-recognition {
	flex-direction: column;
	@media (min-width: $vp_lg) {
		flex-direction: row;
	}
}


.bolt-on-video {
	max-width: 100%;
	height: auto;
}
.media-recognition-section {
	> .display-flex {
		align-items: center;
	}
	.right-content {
		align-self: stretch;
	}
}

.image-list {
	flex-wrap: wrap;
	justify-content: center;
	@media (min-width: $vp_xs) {
		justify-content: space-between;
	}
	align-items: stretch;
	height: 100%;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	> * {
		width: 50%;
		@media (min-width: $vp_xs) {
			width: 33%;
		}
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
		> * {
			max-width: 100%;
		}
	}
}
/*   /Media Recognition Section   */

/*   How Can We Help Section   */
.how-we-can-help-section {
	background-image: url('../images/value-statement-bg.jpg');
	background-size: cover;
	background-position: 50% 50%;
	.section-content > * {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
}
.container-how-we-can-help {
	background-color: $white;
	box-shadow: 0 1.1rem 2rem rgba($dark, 0.9);
}
/*   Categories List   */
.case-categories-list {
	&[class*='case-categories-list'] {
		line-height: 1;
		display: flex;
		flex-wrap: wrap;
		@media (min-width: 480px) {
			justify-content: space-around;
		}
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 6rem;
		margin-left: -.75rem;
		margin-right: -.75rem;
		font-size: 1.9rem;
		@media (min-width: $vp_lg) {
			font-size: 2.4rem;
		}
	}
	.listed-case-category {
		padding: 0;
		font-size: inherit;
		flex: 1 1 100%;
		@media (min-width: 480px) {
			flex-basis: 50%;
		}
		margin-bottom: 3rem;
		max-width: 37rem;
		padding-left: .75rem;
		padding-right: .75rem;
		&:before {
			content: none;
		}
	}
}
.anchor-listed-cast-category {
	display: flex;
	align-items: center;
}
.case-category-icon {
	font-size: 4rem;
	max-width: 4rem;
	max-height: 4rem;
	> svg {
		display: block;
		width: 1em;
	}
}
.case-category-title {
	margin-left: 0.5em;
}
/*   /Categories List   */

.accreditations-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $vp_sm) {
		flex-direction: row;
		align-items: stretch;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&[class*='accreditations-list'] {
		margin-bottom: 0;
		li:before {
			content: none;
		}
	}
	.listed-accreditation {
		padding-left: 0;
		max-width: 40rem;
		width: 100%;
		@media (min-width: $vp_sm) {
			width: 50%;
		}
		@media (min-width: $vp_m) {
			width: 25%;
		}
		padding: 1.5rem;
		text-align: center;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 3rem;
	}
}
.accreditation-logo {
	margin-top: auto;
	margin-bottom: auto;
}
.accreditation-logo-img {
	max-width: 100%;
}
.accreditation-title {
	font-family: $font-fam-primary;
	color: $secondary;
	font-weight: 600;
}
.listed-accreditation {
	.accreditation-description {
		text-align: left;
		line-height: 1.5;
		position: absolute;
		top: 50%;
		margin-top: 0;
		transform: scaleY(0) translate3d(0, -50%, 0);
		background-color: white;
		padding: 0.5rem;
		box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.35);
		transform-origin: 0 0;
		min-height: 100%;
		transition: $smooth-transition;
	}
	#{$active} {
		.accreditation-description {
			transform: scaleY(1) translate3d(0, -50%, 0);
		}
	}
}
/*   /How Can We Help Section   */

/*   Why Us Section   */
.container-why-us-content {
	padding-top: 6rem;
}
.ctnr-why-us-video {
	display: flex;
	align-items: center;
	> * {
		margin: 0;
	}
}
$gradient-percentage: 40.4%;
.why-us-content {
	background-image: linear-gradient(
		to bottom,
		$white 70.5vmin,
		$primary-lighter $gradient-percentage
	);
	@media (min-width: $vp_m) {
		background-image: linear-gradient(
		to right,
		$white $gradient-percentage,
		$primary-lighter $gradient-percentage
	);
	}
}
.highlights-list {
	list-style: none;
	font-size: 2.4rem;
	font-weight: 700;
}
.listed-highlights {
	position: relative;
	padding: .5em;
	@media (min-width: $vp_lg) {
		padding: 1em;
	}
	&:before {
		content: '';
		position: absolute;
		height: 1px;
		width: 0.75em;
		top: 50%;
		left: calc(0% - 1em);
		transform: translate3d(0, -50%, 0);
		background-color: $primary;
	}
}
.ctnr-highlights-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: $vp_m) {
		display: block;
	}
	.anchor-btn-cta {
		@media (min-width: $vp_m) {
			margin-left: 3rem;
		}
	}
}
/*   Why Us Section   */

/*   Testimonials Section   */
.container-tesimonials {
	box-shadow: 0px 1.1rem 2rem rgba(88, 89, 91, 0.6);
	background-color: $white;
	&:before {
		content: '\f10d';
		font-family: 'Font Awesome 5 Free';
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		font-weight: 900;
		display: block;
		text-align: center;
		font-size: 3rem;
		color: $secondary;
		padding-top: 3rem;
	}
}
.component-testimonials-slider {
	padding: 3rem;
}
.testimonial-quote {
	font-size: 2.4rem;
	font-weight: 400;
	margin-bottom: 1em;
}
.testimonial-blockquote {
	text-align: center;
	margin: 0;
}
.testimonial-cite {
	font-size: 2rem;
}
@import './import/component-testimonials-slider.scss';
/*   Testimonials Section   */
