@import './import/variables.scss';

.page-template-home-page-template {
	/*   Hero Section   */
	.hero-section {
		background-image: url(../images/mainstage-bg.jpg);
		background-size: cover;
		background-position: 50% 50%;
		position: relative;
		&:before,
		&:after {
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
		}
		&:before {
			height: 100%;
			bottom: 0;
			background-repeat: no-repeat;
			background-position: bottom center;
			background-size: contain;
			background-image: url(../images/mainstage-attorneys-new.png);
		}
		&:after {
			height: 20%;
			top: 0;
			background-image: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.4) 65%,
				transparent
			);
		}
	}
	.container-hero {
		min-height: 110.77vh;
		align-items: flex-end;
		justify-content: center;
		text-align: center;
		position: relative;
	}
	.heading {
		text-shadow: 0 0.05em 0.15em rgba(38, 38, 38, 0.35);
		> * {
			display: block;
		}
	}
	.subtitle {
		font-size: 2.6rem;
		font-weight: 700;
		color: $white;
		text-transform: uppercase;
	}
	.main-title {
		font-size: 7.7rem;
		font-weight: 700;
		color: $primary;
	}
	/*   /Hero Section   */

	/*   Bleeds Into Section Feature   */
	$bleed-unit: 19vh;
	.below-section-bleeds-in {
		.bleed-target {
			padding-bottom: $bleed-unit;
		}
		+ .bleeds-into-above-section {
			.bleed-target {
				margin-top: -$bleed-unit;
			}
		}
	}

	/*   /Bleeds Into Section Feature   */

	/*   About Section   */
	.about-section-cta-btns {
		justify-content: space-between;
	}

	.about-section .container-about-section {
		background-color: $white;
		position: relative;
	}
	.about-section-cta-btns {
		padding: 2rem 0.5rem;
	}
	.about-section-main {
		padding: 2rem 4.3rem;
	}
	/*   /About Section   */
}
