@import './import/variables';
@import './import/contact-form';

/*   Contact Form   */
.ctnr-contact-form {
	padding: 1.5rem;
	@media (min-width: $vp_lg) {
		padding: 3rem;
	}
	.btn-cta-outer {
		width: 100%;
	}
}
.contact-form-title {
	font-size: 2.7rem;
	text-align: center;
}
.wpcf7-form > * {
	flex-basis: 100%;
	padding: 0;
}
/*   /Contact Form   */