@import './import/variables';
@import './import/common';

.site-content {
	@extend .stripes-banner;
}

.main-container {
	padding-top: 9rem;
}
.site-main {
	padding-top: 18rem;
}
.entry-title {
	&.attorney-name {
		text-transform: uppercase;
	}
}
.practice-areas {
	font-size: 1.8rem;
	padding-bottom: 1em;
	> * {
		display: inline;
	}
}
.practice-areas-title {
	font-size: 2.4rem;
	margin-right: 0.25em;
}
.anchor-attorney-practice-area {
	font-weight: 600;
}
.attorney-footer {
	margin-top: 6rem;
}
.anchor-attorney-footer-phone-number {
	font-size: 1.8rem;
	font-weight: 600;
	transition: $smooth-transition;
	.attorney-footer-phone-number {
		color: $secondary;
	}
}

/*   Left Sidebar   */
.left-sidebar {
	/*   Sidebar Thumbnail   */
	.post-thumbnail {
		text-align: center;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	/*   /Sidebar Thumbnail   */
}

/*   Sidebar Nav   */
@import './import/sidebar-menu.scss';
/*   /Sidebar Nav   */

/*   /Left Sidebar   */

.attorney-attributes-title {
	font-family: $font-fam-primary;
	color: $secondary;
}

/*   Attorney Successes (cases)  */
.attorney-successes-list {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -.75rem;
  margin-right: -.75rem;
}
.listed-success.case {
  flex: 0 1 30rem;
  padding: 0;
  text-align: center;
  margin: .75rem;
  display: flex;
  flex-direction: column;
}
.case-result {
	color: $secondary;
}
.case-title {
	&.theme-style-border {
		padding-left: 3rem;
		padding-right: 3rem;
		line-height: 1.25;
		font-size: 2rem;
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
/*   /Attorney Successes (cases)  */

/*   Attorneys Archive   */
@import './import/_component-attorneys-archive';
