@import './import/variables';
@import './import/common';
@import './import/content-navigation';

.entry-meta {
  font-size: 1.8rem;
  margin-top: 1em;
}
.entry-header {
  margin-bottom: 3rem;
}
.post-thumbnail {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin: 1rem auto 1.5rem auto;
	@media (min-width: $vp_sm) {
		float: right;
		width: auto;
		max-width: 42rem;
		margin-left: 1.5rem;
		margin-right: 0;
	}
	img {
		max-width: 100%;
		height: auto;
	}
}
.post-category-label {
	font-family: $font-fam-primary;
}
.entry-footer {
	margin-top: 3rem;
}
.cat-links {
  font-size: 1.8rem;
	color: transparent;
	> a {
		background-color: $primary-lighter;
		font-weight: 500;
		color: $primary-darker;
		padding: 0.5em .75em;
		line-height: 1;
		text-decoration: none;
		@include smoothest-transition;
		#{$active} {
			background-color: $primary-dark;
			color: $white;
		}
	}
}
