#attorneys-archive-slider {
	background-image: url(../images/attorneys-bg.jpg);
	background-size: cover;
	background-position: 50% 50%;
	min-height: 71.25vh;
	display: flex;
	align-items: flex-end;
	margin-bottom: 5rem;
	.slick-track {
		display: flex;
		align-items: flex-end;
	}
	/*   Slick Nav Overrides  */
	.slick-arrow {
		bottom: calc(-1em - 1.5rem);
		top: initial;
		color: $secondary;
		height: auto;
		width: auto;
		line-height: 1;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		transform: translateZ(0);
		opacity: .75;
		display: flex !important;
		align-items: center;
		transition: $smooth-transition;
		backface-visibility: hidden;
		&:before {
			@extend .has-chevron:after;
			transform: translateZ(0);
			position: relative;
			opacity: 1;
		}
		#{$active} {
			opacity: 1;
		}
	}
	.slick-prev {
		left: 3rem;
		@media (min-width: 1400px) {
			left: 0;
		}
		&:before {
			content: '\f053';
			left: 0;
			margin-right: .5em;
		}
	}
	.slick-next {
		right: 3rem;
		@media (min-width: 1400px) {
			right: 0;
		}
		&:before {
			content: '\f054';
			right: 0;
			margin-left: .5em;
			order: 2;
		}
	}
	/*   /Slick Nav Overrides   */
	.anchor-btn-cta {
		#{$active} {
			background-color: rgba(0, 0, 0, 0.85);
		}
	}
}
@import './attorneys-archive-img';
.ctnr-archive-attorney-img {
	> img {
		height: auto;
		max-height: none;
		@media (min-width: $vp_sm) {
			max-height: 38rem;
		}
		position: static;
		left: initial;
		transform: none;
		max-width: 100%;
		@media (min-width: $vp_sm) {
			height: 50rem;
			max-width: auto;
			position: relative;
			left: 50%;
			transform: translateX(-50%);
		}
		@media (min-width: 1400px) {
			height: auto;
			max-height: 50rem;
			position: static;
			left: initial;
			transform: none;
		}
	}
}
.ctnr-archive-attorney-name-title {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0));
	.btn-cta-text {
		flex-direction: column;
	}
}