$menu-item-font-size: 2rem;
body {
	&.bolt-on-mobile-menu-inactive {
		#nav-mobile-menu,
		.btn-mobile-menu-back {
			display: none;
		}
		#nav-primary-menu {
			display: flex;
		}
	}
	&.bolt-on-mobile-menu-active {
		.ctnr-search-bar {
			flex: auto;
			height: 50%;
			// width: 50%;
			order: 2;
			// margin-left: auto;
			overflow: hidden;
			align-self: stretch;
			.search-form {
				width: 100%;
				justify-content: flex-end;
			}
		}
		input {
			&[type="search"] {
				&.input-search {
					width: 3em;
				}
			}
		}
		.site-header {
			.site-branding {
				max-width: calc( 45vmin - 1.5rem );
				@media (min-width: 400px) {
					max-width: 45%;
				}
				height: 100%;
				flex: auto;
				padding-right: 1.5rem;
				* {
					height: 100%;
					max-width: 100%;
				}
			}
			.custom-logo {
				svg {
					width: auto;
				}
			}
		}
		.ctnr-header-info {
			flex: auto;
			height: 50%;
			order: 3;
			margin-left: auto;
		}
		.header-top {
			flex-direction: column;
			flex-wrap: wrap;
			align-content: space-between;
			height: 12rem;
			width: 100%;
			@media (max-width: $vp_lg - 1) and (max-height: $vp_sm - 1) {
				max-height: 15vh;
				font-size: 1.69vmin;
			}
		}
		.navbar-nav  {
			&#nav-primary-menu {
				.menu-item {
					a {
						padding-top: 1.25em;
						padding-bottom: 1.25em;
					}
				}
			}
			.menu-item {
				a {
					font-size: 1.7rem;
					@media (min-width: $vp_xs) {
						font-size: 1.8rem;
					}
					padding: .5em;
				}
			}
		}
		.site-header {
			input {
				&[type="search"] {
					&.input-search {
						+ .btn-submit {
							padding-left: 0;
							padding-right: 0;
							width: 0;
							transform: translateZ(0);
						}
						&:valid {
							+ .btn-submit {
								padding-left: 1em;
								padding-right: 1em;
								width: auto;
							}
						}
					}
				}
			}
		}
		.btn-mobile-menu-back {
			.fa-chevron-left {
				position: static;
				margin-right: .5em;
			}
		}
		/*   Primary Menu   */
		#nav-primary-menu {
			position: fixed;
			height: 100vh;
			width: 100%;
			left: 0;
			top: 0;
			background-color: rgba($white, 0.975);
			padding: 3rem;
			z-index: 999;
			display: block;
			overflow: auto;
			&:not(.show) {
				display: none;
			}
			.menu-item {
				a {
					color: $secondary !important;
				}
			}
		}
		#primary-menu {
			margin-top: 3rem;
			margin-bottom: 3rem;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			.menu-item {
				@include smoothest-transition;
				width: 100%;
				border-bottom: 1px solid black;
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				&:first-child {
					border-top: 1px solid black;
				}
				a {
					display: inline-block;
				}
			}
			> .menu-item {
				> a {
					padding-top: 1.25em;
					padding-bottom: 1.25em;
					font-size: $menu-item-font-size;
					width: auto;
					margin-right: auto;
					flex: 0 0 auto;
				}
			}
			.menu-item-has-children {
				position: relative;
				&:before {
					content: "\f078";
					@include font-awesome-font;
					@include smoothest-transition;
					font-size: $menu-item-font-size;
					line-height: 1;
					padding: 1.25em 1.5rem;
					cursor: pointer;
					order: 2;
				}
				&.active {
					&:before {
						transform: translateZ(0) scaleY(-1);
					}
				}
			}
			.sub-menu {
				position: relative;
				flex-direction: column;
				padding: 0 0 0 1rem;
				width: 100%;
				order: 3;
				&:before,
				&:after {
					content: none;
				}
				.menu-item {
					max-width: none;
					padding: 0 0 0 1rem;
					border-left: .5rem solid $primary;
					&:last-child {
						border-bottom: 0;
					}
					a {
						font-size: 1.8rem;
					}
				}
			}
		}
		/*   /Primary Menu   */
		&.mobile-primary-menu-shown {
			overflow: hidden;
		}
	}
}


/*   Mobile Menu More   */
#mobile-menu-more {
	cursor: pointer;
}