/*-----GLOBAL COLORS--------*/
$off-white: #ffffffcc;
$light-blue: #0076ff;
$pale-blue: #016796;
$trans-blue: #002d73cc;
$blue: #002d73;
$gray-blue: #75787b;
$gold: #ffc410;
$orange-gold: #cc9d0d;
$light-gray: #ccc;
$gray: rgb(117, 117, 117);
$mobile-gray: #596068;
$mobile-trans-gray: rgba(0, 0, 0, 0.35);
$dark-gray: #333;
$red: #d54e21;
$light-yellow: #fff9c0;
$yellow: yellow;
$gray100: #f5f5f5;

// Base Palette
$bolt-on-blue-700: #000d19;
$bolt-on-blue-600: #001a33;
$bolt-on-blue-500: #00264d;
$bolt-on-blue-400: #003366;
$bolt-on-blue-300: #335c85;
$bolt-on-blue-200: #6685a3;
$bolt-on-blue-100: #99adc2;
$bolt-on-gold-700: #332600;
$bolt-on-gold-600: #674c00;
$bolt-on-gold-500: #9a7100;
$bolt-on-gold-400: #cd9700;
$bolt-on-gold-300: #d7ac33;
$bolt-on-gold-200: #e1c166;
$bolt-on-gold-100: #ebd599;

// XTEN Cool Paletta
$bolt-on-gray-700: #000d19;
$bolt-on-gray-600: #232a31;
$bolt-on-gray-500: #454f59;
$bolt-on-gray-400: #596069;
$bolt-on-gray-300: #9ca0a5;
$bolt-on-gray-200: #e5e6e8;
$bolt-on-gray-100: #f5f5f5;

// Neutral Palette
$black: #000000;
$gray-900: #212121;
$gray-800: #424242;
$gray-700: #616161;
$gray-600: #757575;
$gray-500: #9e9e9e;
$gray-400: #bdbdbd;
$gray-300: #e0e0e0;
$gray-200: #eeeeee;
$gray-100: #f5f5f5;
$gray-50: #fafafa;
$white: #ffffff;

// Color Array
$color-array: (
	'bolt-on-blue-700': $bolt-on-blue-700,
	'bolt-on-blue-600': $bolt-on-blue-600,
	'bolt-on-blue-500': $bolt-on-blue-500,
	'bolt-on-blue-400': $bolt-on-blue-400,
	'bolt-on-blue-300': $bolt-on-blue-300,
	'bolt-on-blue-200': $bolt-on-blue-200,
	'bolt-on-blue-100': $bolt-on-blue-100,
	'bolt-on-gold-700': $bolt-on-gold-700,
	'bolt-on-gold-600': $bolt-on-gold-600,
	'bolt-on-gold-500': $bolt-on-gold-500,
	'bolt-on-gold-400': $bolt-on-gold-400,
	'bolt-on-gold-300': $bolt-on-gold-300,
	'bolt-on-gold-200': $bolt-on-gold-200,
	'bolt-on-gold-100': $bolt-on-gold-100,
	'bolt-on-gray-700': $bolt-on-gray-700,
	'bolt-on-gray-600': $bolt-on-gray-600,
	'bolt-on-gray-500': $bolt-on-gray-500,
	'bolt-on-gray-400': $bolt-on-gray-400,
	'bolt-on-gray-300': $bolt-on-gray-300,
	'bolt-on-gray-200': $bolt-on-gray-200,
	'bolt-on-gray-100': $bolt-on-gray-100,
	'black': $black,
	'gray-900': $gray-900,
	'gray-800': $gray-800,
	'gray-700': $gray-700,
	'gray-600': $gray-600,
	'gray-500': $gray-500,
	'gray-400': $gray-400,
	'gray-300': $gray-300,
	'gray-200': $gray-200,
	'gray-100': $gray-100,
	'gray-50': $gray-50,
	'white': $white
);

/*-----PAGE SPECIFIC COLORS-----*/

$primary-text: $dark-gray;
$primary-input: $dark-gray;
$primary-link: $blue;
$primary-link-hover: $pale-blue;
$primary-link-outline: $gray-blue;
$secondary-link: $white;
$secondary-link-hover: $gold;
$required-link: $red;
$close-layer: $mobile-trans-gray;

/*-------XTEN STYLE GUIDE COLORS---------*/
$sg_dark_blue: #002d73;
$sg_blue: #255aa8;
$sg_link_blue: #00b2e2;
$sg_dark_gold: #cd9700;
$sg_gold: #cf9f24;
$sg_light_gold: #f7a700;
$sg_purple: #725090;
$sg_rust: #b73c24;
$sg_red: #f6323e;
$sg_green: #00ae41;

/*-----RESPONSIVE SIZING---------*/
$vp_xxs: 380px;
$vp_xs: 576px;
$vp_sm: 768px;
$vp_m: 992px;
$vp_lg: 1200px;
$vp_xl: 1660px;
$vp_xxl: 1920px;

/*-----OPACITY----------*/
$opacity_eighty: 0.8;
$opacity_zero: 0;

/*-----TRANSITIONS------*/
$smooth-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
.smooth-transition {
	transition: $smooth-transition;
}
@mixin smoother-transition {
	transform: translateZ(0);
	backface-visibility: hidden;
}
@mixin smoothest-transition {
	transition: $smooth-transition;
	@include smoother-transition;
}
.smoother-transition {
	@include smoother-transition;
}
.smoothest-transition {
	@include smoothest-transition;
}

/*-----FONT CALCULATIONS-----*/
@function calculateRem($size) {
	$remSize: $size / 16px;
	@return #{$remSize}rem;
}

@function calculateLineHeight($size, $lineHeight) {
	$heightSize: ($size / 16px) * $lineHeight;
	//@debug "Size:#{$size}, LineHeight: #{$lineHeight}, heightSize: #{$heightSize}";
	@return #{$heightSize}rem;
}

@mixin font-size-leading($size, $lineHeight) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
	line-height: calculateLineHeight($size, $lineHeight);
}

@mixin fontSize($size) {
	font-size: $size; //Fallback in px
	font-size: calculateRem($size);
}

@mixin leftRightPadding($size) {
	padding-left: $size; //Fallback in px
	padding-left: calculateRem($size);
	padding-right: $size; //fallBack in px
	padding-right: calculateRem($size);
}

@mixin allPadding($size) {
	padding: $size; //Fallback in px
	padding: calculateRem($size);
}

@mixin allMargins($size) {
	margin: $size; //Fallback in px
	margin: calculateRem($size);
}

@mixin containerMargins($size) {
	margin: $size auto; //Fallback in px
	margin: calculateRem($size) auto;
}

/*-----EVERYTHING ELSE-----*/
$global_line_height: 1.4rem;
$xten_header_height_m: 4.5rem;
$xten_header_height_lg: 3.68rem;

$primary: rgb(172, 150, 110);
$primary-lighter: rgb(239, 234, 226);
$primary-light: rgb(219, 190, 137);
$primary-dark: rgb(137, 115, 75);
$primary-darker: rgb(123, 103, 69);
$secondary: rgb(52, 80, 115);
$secondary-light: rgb(214, 220, 227);
$secondary-dark: rgb(39, 59, 83);
$tertiary: rgb(239, 234, 226);
$light: rgb(255, 255, 255);
$dark: rgb(38, 38, 38);
$font-fam-primary: 'Montserrat', sans-serif;
$font-fam-secondary: 'Lora', serif;

$trans-header: 'body.trans-header:not(.scrolledPastHeader)';
/*   ex of variable usage: @at-root #{$trans-header} & {}   */

$active: '&:hover,&:focus,&:focus-within,&.active';

$stripes: repeating-linear-gradient(
	45deg,
	$secondary-light,
	$secondary-light 1.623rem,
	$white 19px,
	$white 1px
);

/*   Flex Layout   */
@mixin flexLayout( $margin ) {
	margin: -$margin;
	> * {
		padding: $margin;
	}
}
/*   Flex Layout   */

/*   Font Awesome Mixins   */
@mixin font-awesome-font {
	font-weight: 900;
	font-family: 'Font Awesome 5 Free';
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
}
@mixin has-fontawesome-icon {
	&:after {
		position: relative;
		margin-left: auto;
		padding-left: .5em;
	}
}
/*   /Font Awesome Mixins   */
@mixin card-style {
	box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.5);
}