$chevron-right: '.btn-cta-outer:after';
/*   Borders   */
$top-and-bottom-horz: '.btn-cta-outer:before';
$top-left-vert: '.btn-cta-inner:before';
$top-right-vert: '.btn-cta-inner:after';
$bottom-left-vert: '.btn-cta-inner:after';
$bottom-right-vert: '.btn-cta-inner:before';
@import './stroke-border.scss';
$btn-stroke-width: 0.25em;
$btn-stroke-height: 0.7em;
$btn-stroke-full-width: 100%;
/*   /Borders   */

.btn-cta-outer,
.btn-cta-inner,
.btn-cta-text {
	&:before,
	&:after {
		content: '';
		position: absolute;
		transition: $smooth-transition;
		transform: translateZ(0);
		backface-visibility: hidden;
	}
}

.btn-cta-outer {
	position: relative;
	text-align: center;
	cursor: pointer;
	padding: 0.75em 1em;
	@media (min-width: $vp_sm) {
		padding-left: 2em;
		padding-right: 2em;
	}
	font-size: 1.8rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 1;
	color: $secondary;
	border: 0;
	&.stroke-border {
		&:before {
			border-width: $btn-stroke-width;
			left: 50%;
			transform: scaleX(0) translate3d(-50%, 0, 0);
			width: 0;
		}
		#{$active} {
			&:before {
				width: $btn-stroke-full-width;
				transform: scaleX(1) translate3d(-50%, 0, 0);
			}
		}
	}
	[type='submit'],
	[type='button'],
	[type='reset'],
	button {
		-webkit-appearance: initial;
		background-color: transparent;
		border: none;
	}
	.fa-chevron-left {
		position: absolute;
		left: .5em;
	}
}
.btn-cta-inner {
	border: none;
	&.stroke-border-inner {
		&:before,
		&:after {
			top: 0;
		}
	}
}
.btn-cta-text {
	&.stroke-border-lvl-three {
		&:before,
		&:after {
			bottom: 0;
		}
	}
}
.btn-cta-outer,
.btn-cta-inner,
.btn-cta-text {
	display: inline-block;
}
.btn-cta-outer,
.btn-cta-inner {
	outline: none;
	background-color: transparent;
}
.btn-cta-inner,
.btn-cta-text {
	padding: 0;
	font-size: inherit;
	line-height: inherit;
}

.btn-cta-inner.stroke-border-inner,
.btn-cta-text.stroke-border-lvl-three {
	&:before,
	&:after {
		height: $btn-stroke-height;
		max-height: 25%;
		width: $btn-stroke-width;
		transform: scaleY(0) translateZ(0);
	}
	&:before {
		left: 0;
	}
	&:after {
		left: unset;
		right: 0;
	}
}

a {
	&.anchor-btn-cta {
		text-decoration: none;
	}
}