@import './variables';
/*   Commonly Used Classes   */

/*   Has Chevron   */
.has-chevron {
	@include has-fontawesome-icon;
	&,
	&.btn-cta-outer {
		&:after {
			content: '\f054';
		}
	}
	&:after {
		color: $primary;
		display: inline-block;
		@include font-awesome-font;
	}
	&.absolute-chevron {
		&:after {
			position: absolute;
			margin-left: 0;
			right: 0;
			top: 50%;
			transform: translate3d(0, -50%, 0);
		}
	}
}
/*   /Has Chevron   */


/*   Stripes   */
.stripes-banner {
	position: relative;
	&:before {
		content: '';
		background-image: $stripes;
		padding: 9rem 14.4rem;
		background-size: cover;
		background-position: 50% 50%;
		width: 100%;
		display: block;
		position: absolute;
	}
	> * {
		position: relative;
	}
}
/*   /Stripes   */