/*   Contact Form   */
.wpcf7-form {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.8rem;
	> * {
		flex: 1 1 100%;
		margin-bottom: 1em;
	}
	> :nth-child(-n + 5) {
		flex-basis: 50%;
		max-width: 50%;
	}
	> :nth-child(-2n + 5) {
		padding-left: 1em;
	}
	.input-field {
		width: 100%;
	}
}
/*   /Contact Form   */
