/*   Contact Form   */
.wpcf7-form {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.8rem;
	> * {
		flex: 1 1 100%;
		margin-bottom: 1em;
	}
	> :nth-child(-n + 5) {
		flex-basis: 50%;
		max-width: calc( 50% - .5em );
	}
	> :nth-child(-2n + 5) {
		margin-left: 1em;
	}
	.input-field {
		width: 100%;
		display: block;
		> :first-child {
			margin-left: 0;
		}
	}
	.mail-recipients {
		display: none !important;
	}
}
/*   /Contact Form   */
