.site-footer {
	position: relative;
	z-index: 1;
	.footer-navigation {
		padding: 1rem 2%;
		background-color: $white;
	}
	.custom-logo svg > * {
		fill: $white;
	}
	a {
		color: $primary-light;
	}
	.anchor-social-icon {
		padding: 0.75em;
		border: solid 0.15em $white;
		line-height: 1;
		text-align: center;
		margin-left: 1em;
		margin-right: 1em;
		transition: $smooth-transition;
		#{$active} {
			color: $secondary;
		}
	}
	.social-icons {
		justify-content: space-between;
		font-size: 2.2rem;
		margin-left: -1em;
		margin-right: -1em;
	}
	.site-branding {
		text-align: center;
		margin-bottom: 3rem;
	}
	.offices-list {
		display: flex;
		flex-direction: column;
		@media (min-width: $vp_xxs) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		margin-bottom: -6rem;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		@media (min-width: $vp_sm) {
			margin-left: -.75rem;
			margin-right: -.75rem;
		}
	}
	.listed-office {
		flex: 1 1 100%;
		@media (min-width: $vp_xxs) {
			flex-basis: 50%;
		}
		@media (min-width: $vp_lg) {
			flex-basis: 33.33%;
		}
		@media (min-width: $vp_xl) {
			margin-bottom: 6rem;
		}
		margin-bottom: 3rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		@media (min-width: $vp_sm) {
			padding-left: .75rem;
			padding-right: .75rem;
		}
	}
	.office-title {
		font-family: $font-fam-primary;
		font-weight: 700;
		font-size: 2.2rem;
		color: $white;
		margin-bottom: .25em;
	}
	.anchor-office-phone-number,
	.anchor-office-location {
		font-size: 1.8rem;
		text-decoration: none;
		transition: $smooth-transition;
		#{$active} {
			color: $white;
		}
	}
	.anchor-office-location {
		color: rgba($white, 0.8);
	}
}
.footer-main {
	background-color: $secondary;
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.footer-logo-social {
	max-width: 32.6rem;
	flex: 1 0 32.6rem;
}
.anchor-social-icon {
	overflow: hidden;
	position: relative;
	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		height: 150%;
		width: 150%;
		background-image: radial-gradient($primary-light,$primary,$primary-dark);
		transition: all .35s cubic-bezier(.22,.61,.36,1);
		transform: scale(0) translate3d(-50%, -50%, 0);
		border-radius: 50%;
		transform-origin: 0% 0%;
	}
	> * {
		position: relative;
	}
	.social-icon {
		width: 1em;
		height: 1em;
	}
	#{$active} {
		&:before{
			transform: scale(1) translate3d(-50%, -50%, 0);
		}
	}
}

.container-footer-main {
	flex-direction: column;
	align-items: center;
	@media (min-width: $vp_m) {
		flex-direction: row;
		align-items: initial;
	}
	> :first-child {
		margin-bottom: 6rem;
		@media (min-width: $vp_m) {
			margin-right: 6rem;
			margin-bottom: 0;
		}
	}
	> :last-child {
		@media (min-width: $vp_m) {
			margin-left: 6rem;
		}
		flex: 1;
	}
}
.site-info-footer-wrapper {
	background-color: $dark;
	color: rgba($white, 0.6);
	padding-top: 3rem;
	padding-bottom: 3rem;
	font-size: 1.4rem;
}
.site-info {
	display: flex;
	align-items: center;
	flex-direction: column;
	> * {
		flex: 1;
		max-width: 80rem;
	}
	> :first-child {
		padding-bottom: 1.5em;
		margin-bottom: 1.5em;
		border-bottom: 1px solid rgba($white, 0.2);
	}
}
