@import '_variables.scss';

.site-header {
	padding: 1rem 2%;
	box-shadow: 0 0 2.2rem $dark;
	background-color: $white;
	@at-root #{$trans-header} & {
		background-color: transparent;
		box-shadow: none;
		> * {
			position: relative;
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.04) 90%, rgba(0, 0, 0, 0) 100%);
		}
	}
	.site-branding {
		text-align: center;
		max-width: 25%;
	}
	.custom-logo {
		svg {
			width: 100%;
		}
	}
	&.transitioning {
		.menu-item {
			a {
				pointer-events: none;
			}
		}
	}
}
body {
	&.hide-header {
		.site-header {
			transition: $smooth-transition;
			transform: translate3d(0, 0, 0);
		}
		&:not(.mouseInHeaderArea) {
			&:not(.header-dropdown-active) {
				&.scrolledPastHeader {
					.site-header {
						transform: translate3d(0, -100%, 0);
					}
					#show-header {
						transform: scaleY(1) translateZ(0);
					}
					.show-header-icon {
						display: block;
					}
					#primary-menu {
						.sub-menu {
							display: none;
						}
					}
				}
			}
		}
	}
	&.fixed-header {
		.site-header {
			position: fixed;
			left: 0;
			width: 100%;
			z-index: 99;
		}
	}
}

.header-top {
	font-size: 1rem;
	margin-bottom: 3em;
	> * {
		flex: 1;
	}
}

/*   Search   */
.search-form {
	align-items: flex-end;
	overflow: hidden;
}
input[type='search'] {
	&.input-search {
		font-size: 2rem;
		line-height: 1;
		margin-left: .5em;
		margin-right: .5em;
		background-color: transparent;
		border: 0 solid $dark;
		color: $primary-darker;
		@at-root #{$trans-header} & {
			border-color: $white;
			color: $white;
			filter: saturate(0) brightness(5);
			+ .btn-submit {
				color: $white;
			}
		}
		border-bottom-width: 2px;
		padding: 0;
		-webkit-appearance: none;
		border-radius: 0%;
		box-shadow: none;
		flex: 1 1 auto;
		margin-bottom: 0.75em;
		@at-root .site-header & {
			font-size: 1.6em;
			max-width: 15em;
			+ .btn-submit {
				transform: translate3d(0, 100%, 0);
				opacity: 0;
			}
			&:valid {
				+ .btn-submit {
					transform: translate3d(0, 0, 0);
					opacity: 1;
				}
			}
		}
		+ .btn-submit {
			font-size: 1.6em;
			transition: $smooth-transition;
			backface-visibility: hidden;
			border: 0;
		}
	}
}
.icon-search {
	font-size: 2em;
	padding: .6em .4em .6em 0;
	margin-bottom: 0;
	cursor: pointer;
	@at-root .site-header & {
		color: $secondary;
		@at-root #{$trans-header} & {
			color: $white;
		}
	}
}
/*   /Search   */

/*   Logo   */
.custom-logo-link {
	display: inline-block;
}
.custom-logo {
	max-width: 32.6rem;
	svg {
		> :nth-child(-n + 2) {
			@at-root #{$trans-header} & {
				fill: $white;
			}
		}
	}
}
/*   /Logo   */

/*   Header Info Widget   */
.header-info {
	text-align: right;
	.textwidget {
		display: inline-block;
		> *{
			display: block;
		}
		> :first-child {
			color: rgb(52, 80, 115);
			@at-root #{$trans-header} & {
				color: $white;
			}
			font-size: 1.7267em;
			padding-right: 0.25em;
		}
		> :last-child {
			font-size: 2.8em;
			font-weight: 700;
			display: inline-block;
			letter-spacing: 0.1em;
			color: $primary-dark;
			@at-root #{$trans-header} & {
				color: $white;
			}
			* {
				font-size: inherit;
			}
		}
	}
}
/*   /Header Info Widget   */

/*   #show-header   */
#show-header {
	display: block;
	align-items: center;
	// height: 7rem;
	height: 3.889em;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: rgba($white, 0.9);
	border-bottom: solid .6rem $primary;
	border-left: 0;
	border-right: 0;
	text-align: center;
	padding: .5em 3rem;
	box-shadow: 0 0 2.2rem $dark;
	font-size: 2.665vmin;
	@media (min-width: $vp_xs) and (min-height: $vp_xs) {
		font-size: 1.8rem;
	}
	@include smoother-transition;
	transform: scaleY(0) translateZ(0);
	transform-origin: 0% 0%;
	.fa-bars {
		display: none;
		font-size: 1.666667em;
	}
	@at-root body.bolt-on-mobile-menu-active & {
		display: flex;
		.show-header-icon {
			margin-left: 0;
			padding-bottom: 0;
			height: 100%;
			max-width: none;
			> img,
			> svg {
				height: 100%;
			}
		}
		.fa-bars {
			display: block;
		}
		.fa-chevron-down {
			display: none;
		}
	}
	.fa-chevron-down {
		font-size: .75em;
		display: block;
	}
}
.show-header-icon {
	display: none;
	max-width: 8.6em;
	padding-bottom: .5em;
	height: calc(100% - .75em);
  margin-left: auto;
  margin-right: auto;
	padding-bottom: 0.5em;
	> img,
	> svg {
		max-height: 100%;
		max-width: 100%;
		width: auto;
		height: auto;
	}
}
/*   /#show-header   */

@import './navigation.scss';
