/*   Primary Menu   */
.navbar-nav {
	.menu {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	/*   Menu Items   */
	.menu-item {
		list-style: none;
		a {
			font-size: 1.8rem;
			line-height: 1;
			padding: .5em 2em;
			display: flex;
			justify-content: center;
			position: relative;
			text-align: center;
			box-shadow: inset 0 0 $white;
			color: $secondary;
			text-decoration: none;
			display: block;
			flex: 1;
		}
		/*   /Menu Items   */
	}
	/*   Sub Menus   */

	.sub-menu {
		position: fixed;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.9);
		left: 0;
		right: 0;
		display: flex;
		flex-wrap: wrap;
		padding: 8rem;
		margin-top: 0;
		transition-property: transform, opacity;
		&,
		* {
			pointer-events: none;
		}
		transition: $smooth-transition;
		transform-origin: 0 0;
		&.collapsing {
			// transform: translate3d(0, -100%, 0);
			transform: translateZ(0) scaleY(0);
			opacity: 0;
			height: auto !important;
			&,
			* {
				pointer-events: none !important;
			}
		}
		&.show {
			// transform: translate3d(0, 0, 0);
			transform: translate3d(0) scaleY(1);
			opacity: 1;
			&,
			* {
				pointer-events: all;
			}
		}
		&.collapse {
			&:not(.show) {
				display: none;
			}
		}
		.menu-item {
			$width: 25%;
			$pad: 1%;
			flex: 1 1 $width;
			max-width: $width -  ( $pad * 2 );
			padding: 0 $pad;
			> a {
				padding: 1em 1.5em;
				line-height: 1;
				border-bottom: solid 1px rgba($dark, 0.2);
				transition: $smooth-transition;
				&:before {
					content: ' ';
					display: block;
					width: 0;
					height: 0;
					position: absolute;
					border-style: solid;
					border-width: 0.333em 0 0.333em 0.46em;
					border-color: transparent transparent transparent #bbb;
					top: calc(50% - 0.333em);
					left: 0;
					opacity: 0;
					@include smoothest-transition;
				}
				#{$active} {
					color: $secondary;
					transform: translate3d(1em, 0, 0);
					&:before {
						opacity: 1;
						transform: translateX(1em);
					}
				}
			}
		}
	}
	&.main-navigation {
		> .menu {
			> .menu-item {
				@at-root #{$trans-header} & {
					> a {
						color: $white;
					}
				}
			}
		}
	}
	> .menu {
		> .menu-item {
			> a {
				text-transform: uppercase;
				font-weight: 600;
				z-index: 1;
				&:before,
				&:after {
					content: '';
					position: absolute;
					height: 0.7em;
					width: 100%;
					border: solid 0 $primary;
					left: 0;
					transition: $smooth-transition;
					transition-duration: 0.1s;
					transform: translateZ(0);
					backface-visibility: hidden;
					z-index: -1;
				}
				&:before {
					top: 0;
					border-bottom: none;
				}
				&:after {
					bottom: 0;
					border-top: none;
				}
				#{$active} {
					&:before,
					&:after {
						border-width: 0.222em;
					}
				}
			}
			> .sub-menu {
				&:before,
				&:after {
					content: '';
					position: absolute;
					width: calc(100% - 6rem);
					height: calc(50% - 6rem);
					left: 3rem;
					border: #ac966e 0.4rem solid;
					z-index: -1;
				}
				&:before {
					top: 4rem;
					border-bottom: 0;
				}
				&:after {
					bottom: 4rem;
					border-top: 0;
				}
			}
		}
	}
	/*   /Sub Menus   */
}
/*   /Primary Menu   */

/*   Mobile Menu   */
@import './mobile-menu';
/*   /Mobile Menu   */