/*   Offices List   */
.offices-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;
	.listed-office {
		> :first-child {
			margin-bottom: auto;
		}
		> :not(:first-child) {
			margin-top: .25em;
		}
	}
	.anchor-office-phone-number,
	.anchor-office-location {
		font-size: 2.2rem;
		display: block;
		transition: $smooth-transition;
	}
	.anchor-office-location {
		margin-top: auto;
		margin-right: auto;
		* {
			text-decoration: inherit;
		}
	}
	.anchor-office-phone-number {
		font-weight: 600;
	}
}
.ctnr-contact-info {
	.listed-office {
		background-color: rgba(255, 255, 255, 0.75);
		backdrop-filter: blur(1px);
		box-shadow: 0 .1rem 0.5rem .05rem rgba(0, 0, 0, 0.11);
		border-radius: .5rem;
		padding: 1.5rem;
		width: calc(100% - .75rem);
		@media (min-width: 450px) {
			width: calc(50% - .75rem);
		}
		margin-bottom: 1.5rem;
	}
}
.listed-office {
	.office-address > * {
		display: block;
	}
}
.office-title {
  font-size: 2.8rem;
}
/*   /Offices List   */
