
/*   Sidebar Nav   */
.left-sidebar .menu,
.sidebar-nav {
	display: flex;
	flex-direction: column;
}
.btn-sidebar-nav {
	display: flex;
	font-size: 1.8rem;
	text-align: left;
	color: $secondary;
	position: relative;
	padding: 0.5em 1.5em;
	transform: translate3d(0, 0, 0);
	&:before {
		content: ' ';
		position: absolute;
		width: 1em;
		height: 2px;
		top: 50%;
		left: 0;
		background-color: $primary;
		z-index: -1;
		transform: translate3d(0, -50%, 0);
	}
	&,
	&:before,
	&:after {
		transition: $smooth-transition;
	}
	#{$active},
	&[aria-expanded='true'] {
		transform: translate3d(1em, 0, 0);
		box-shadow: none;
	}
	&[aria-expanded='true'] {
		color: $primary-dark;
		&:before {
			background-color: $secondary;
		}
		&:after {
			color: $secondary;
		}
	}
}
/*   /Sidebar Nav   */

.left-sidebar {
	> :not(:first-child) {
		margin-top: 3rem;
	}
	.menu {
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	.count {
		margin-left: auto;
	}
	.menu-item {
		a {
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			display: flex;
			@extend .btn-sidebar-nav;
			@extend .has-chevron;
			> :first-child {
				flex: 1;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
		&.has-count {
			a {
				&:after {
					margin-left: 0;
				}
			}
		}
		&.current-post {
			a {
				color: $primary-dark;
				&:before {
					background-color: $secondary;
				}
				&:after {
					color: $secondary;
				}
			}
		}
		#{$active} {
			> .sub-menu {
				> .menu-item {
					font-size: 1.8rem;
					padding-top: .5em;
					padding-bottom: .5em;
					a {
						height: 2.5em;
					}
				}
				height: auto;
				transform: scaleY(1) translateZ(0);
			}
		}
	}
	.sub-menu {
		list-style-type: none;
		padding: 0;
		overflow-y: hidden;
		.menu-item {
			padding-top: 0;
			padding-bottom: 0;
			@include smoothest-transition;
			a {
				display: flex;
				align-items: center;
				transition: $smooth-transition;
				transform: translateZ(0);
				backface-visibility: hidden;
				padding-top: 0;
				padding-bottom: 0;
				height: 0;
				background-color: $primary-light;
				color: $secondary-dark;
				&:before,
				&:after {
					content: none;
				}
				#{$active} {
					transform: none;
					background-color: $secondary-dark;
					color: $primary-light;
				}
			}
			.sub-menu {
				padding-left: 1.5em;
				background-color: $secondary-dark;
				.menu-item {
					background-color: $secondary-light;
					color: $primary-dark;
					a {
						background-color: $secondary-light;
						color: $primary-dark;
						#{$active} {
							background-color: $primary-dark;
							color: $secondary-light;
						}
					}
				}
			}
		}
	}
}