$chevron-right: '.stroke-border:after';
/*   Borders   */
$top-and-bottom-horz: '.stroke-border:before';
$top-left-vert: '.stroke-border-inner:before';
$top-right-vert: '.stroke-border-inner:after';
$bottom-left-vert: '.stroke-border-lvl-three:after';
$bottom-right-vert: '.stroke-border-lvl-three:before';
$stroke-width: 0.8rem;
$stroke-height: 3.2rem;
$full-stroke-width: 37.235rem;
/*   /Borders   */

.stroke-border,
.stroke-border-inner,
.stroke-border-lvl-three {
	&:before,
	&:after {
		content: '';
		position: absolute;
	}
}

.stroke-border {
	transition: $smooth-transition;
	position: relative;
	&:before {
		left: 0;
		top: 0;
		height: 100%;
		border: solid $stroke-width $primary;
		border-left: 0;
		border-right: 0;
		width: $full-stroke-width;
	}
	&[class*='btn']:hover,
	&[class*='btn']:focus,
	&.active {
		color: $primary;
		&.has-chevron:after {
			transform: translate3d(0.3em, -50%, 0);
		}
		.stroke-border-inner,
		.stroke-border-lvl-three {
			&:before,
			&:after {
				transform: scaleY(1) translateZ(0);
			}
		}
	}
}
.stroke-border-inner {
	border: none;
	&:before,
	&:after {
		top: $stroke-width - 0.01;
		transform-origin: 50% 0;
	}
}
.stroke-border-lvl-three {
	margin: 0;
	&:before,
	&:after {
		bottom: $stroke-width - 0.01;
		transform-origin: 50% 100%;
	}
}

.stroke-border-inner,
.stroke-border-lvl-three {
	&:before,
	&:after {
		height: $stroke-height;
		max-height: 25%;
		width: $stroke-width;
		background-color: $primary;
	}
	&:before {
		left: 0;
	}
	&:after {
		left: calc(0px + #{$full-stroke-width} - #{$stroke-width});
	}
}

.theme-style-border {
	padding: 3rem 6rem;
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		height: 6rem;
		max-height: 25%;
		border: solid 0.8rem $primary;
		width: 100%;
	}
	&:before {
		top: 0;
		border-bottom: none;
	}
	&:after {
		bottom: 0;
		border-top: none;
	}
}