.theme-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	> * {
		@media (min-width: $vp_lg) {
			flex: 1 1 50%;
			min-width: 50rem;
		}
	}
}
.theme-heading {
	position: relative;
	padding: 1em .5em;
	font-size: 3.2rem;
	line-height: 1;
	&.contrast-for-dark-bg {
		text-shadow: 0 0.035em 0.025em rgba(0, 0, 0, 0.6);
		&:before {
			background-image: radial-gradient(rgba(255, 255, 255, .65), rgba(255, 255, 255, .16) 50%, transparent 70%);
		}
	}
}
.theme-heading,
.theme-heading-inner {
	> :last-child {
		margin-bottom: 0;
	}
}
.theme-heading-inner {
	margin: 2rem 0;
	> * {
		position: relative;
	}
}
.theme-heading-title {
	color: $secondary;
}
.theme-heading-subtitle * {
	font-size: inherit;
}

.entry-header {
	&:first-child {
		h1 {
			margin-top: 0;
		}
	}
	h1 {
		margin-bottom: 0;
		+ h2 {
			font-size: 3rem;
			margin-top: 0;
		}
	}
}