.theme-content {
	h1,
	.bolt-on-h1,
	h2,
	.bolt-on-h2,
	h3,
	.bolt-on-h3,
	h4,
	.bolt-on-h4,
	strong,
	b {
		margin-top: 0.5em;
		+ p,
		+ ul,
		+ ol {
			margin-top: 0;
		}
	}
	p,
	ul,
	ol {
		margin-top: 1.2em;
		margin-bottom: 1.2em;
	}
	ul {
		list-style: none;
		padding-left: 0;
		li {
			position: relative;
			padding: 0.1em 0 0.1em 1.5em;
			&:before {
				content: '';
				position: absolute;
				left: 0;
				background-color: $secondary;
				width: 0.5em;
				display: block;
				height: 0.5em;
				top: 0.85em;
			}
		}
		ul,
		ol {
			margin: 0;
			li {
				&:before {
					background-color: $primary-dark;
				}
			}
		}
	}
	p,
	ul,
	ol {
		font-size: 1.7rem;
		line-height: 2;
	}
	strong {
		> p {
			margin-bottom: 0.6em;
		}
	}

	/*   Wordpress Block Overrides   */
	.wp-block-image {
		figure {
			margin-bottom: 1.5rem;
		}
		.alignleft {
			margin-right: 1.5rem;
		}
		.alignright {
			margin-right: 1.5rem;
		}
		figcaption {
			font-size: 1.6rem;
			text-align: center;
			margin-top: .5em;
			margin-bottom: .5em;
		}
	}
	/*   Wordpress Block Overrides   */
}

.page-header {
	margin-bottom: 3rem;
	&:first-child {
		h1 {
			margin-top: 0;
		}
	}
	> :first-child {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.text-highlight {
	@extend .theme-style-border;
	&.v-1 {
		padding-left: 3rem;
		padding-right: 3rem;
		font-size: 2rem;
		> * {
			display: flex;
			align-items: center;
			&:before {
				content: '';
				width: 6rem;
				height: 6rem;
				margin-right: 1.5rem;
				@media (min-width: 430px) {
					width: 8rem;
					min-width: 8rem;
					height: 10rem;
					margin-right: 3rem;
				}
				background-image: url('../images/callout-1-icon.png');
				background-size: contain;
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
			> * {
				margin: 0;
				margin-bottom: 0;
				flex: 1;
			}
		}
	}
}